# .dockerignore
storage/statistics_probabilities.faiss
storage/category_id_maps.pkl
storage/python.faiss
storage/__pycache__
storage/chunked_texts.json
storage/ops.faiss
storage/softskills.faiss
storage/math.faiss
storage/ml.faiss
cache/
test/
README.md
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
*.ipynb
*.ipynb_checkpoints
logs/
*.log
Dockerfile*
docker-compose*
.gitlab-ci.yml
.github/
tests/__pycache__/
.coverage
.pytest_cache/